#profile{
    padding-top: 1em ;
}

* {
    margin: 0;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    box-sizing: border-box;
  }
  html {
    height: 100vh;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(252, 248, 243);
    display: flex;
    flex-direction: column;
  }

  #userInitial{
    background-color: rgb(200, 174, 104);
    padding: 2.5em;
    border-radius: 50%;
  }
#userName_Settings{
    font-size: large;
}
#container{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}
#profile{
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: rgb(241, 207, 159);
    padding: 2em;
    border-radius: 1em;
}
#personalInfo{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#emailInfo{
    font-size: small;
}

#settings{
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: rgb(241, 207, 159);
    padding: 2em;
    border-radius: 1em;
}

.settingItems{
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: space-between;
    cursor: pointer;
    transition: all .2s ease-in-out; 
}
.settingItems:hover{
    transform: scale(1.1);
}
.subItems{
    display: flex;
    align-items: center;
    gap: 1em;
}
#logout{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 0.7em;
    background-color: rgb(241, 207, 159);
    border:rgb(241, 207, 159) ;
    border-radius: 0.5em;
    width: 100%;
    cursor: pointer;
}