.nav {
    grid-row: 3 / 4;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}
>>>>>>> 7e87bf5627343abd640a0e1c4ffd7361ad9dfa85
