.navHeader {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding: 5px;
}

.nav {
    grid-row: 3 / 4;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

